<!DOCTYPE html>
<html>
<head>
	<title>HeatMap</title>
</head>
<body>
	<h3>HeatMap</h3>
    <div>
        <form method="post" action="/">
            <div>
                Площадь минимум:
                <input type="number" min="0" max="500" value="30" name="min_total_area"/>
                Площадь максимум:
                <input type="number" min="0" max="500" value="100" name="max_total_area"/>
                Цена минимум:
                <input type="number" min="0" max="10000000" value="8000000" name="min_price"/>
                Цена максимум:
                <input type="number" min="0" value="15000000" name="max_price"/>
                Этаж минимум:
                <input type="number" min="0" max="100" value="3" name="min_floor"/>
                Этаж максимум:
                <input type="number" min="0" max="100" value="30" name="max_floor"/>
            </div>
            <select name="housing_type">
                <option value="Новостройка">Новостройка</option>
                <option value="Вторичка" selected>Вторичка</option>
                <option value="Без разницы">Без разницы</option>
            </select>
            <input type="submit" value="Составить карту" name="action1"/>
        </form>
    </div>
    <iframe src="{{ url_for('static', filename='map_base.html') }}" width="100%" height="700"></iframe>
</body>
</html>